.box {
  width: 200px;
  height: 200px;
  background-color: red;
}

@media screen and (min-width: 600px) {
  .box {
    background-color: blue;
  }
}

@media screen and (min-width: 900px), print {
  .box {
    background-color: green;
  }
}
