.list li {
  font-size: 40px;
}

/* nth child */

/* .list li:first-child {
  color: red;
} */

/* .list li:nth-child(2) {
  color: blue;
} */

/* .list li:nth-child(3n) {
  color: green;
} */

/* before, after */

/* .quoted:before {
  content: "『";
} */

/* .quoted:after {
  content: "』";
} */

/* .labeled {
  position: relative;
  padding: 30px;
  background: grey;
} */

/* .labeled:before {
  position: absolute;
  content: "label";
  top: 0;
  left: 0;
  color: white;
  padding: 4px;
  background: orange;
} */
