main {
  padding: 20px;
}

.list li:nth-child(1) {
  color: red;
}

.list li:nth-child(2) {
  color: blue;
}

.list li:nth-child(3n) {
  color: orange;
}

/* .list li:nth-child(-n + 3) {
  color: pink;
} */

/* before, after */

/* .quoted:before {
  content: "『";
}

.quoted:after {
  content: "』";
} */
