main {
  font-size: 40px;
}

.nav {
  position: fixed;
  min-width: 1300px;
  bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.nav__item {
  padding: 5px 10px;
}

.nav__item:not(:first-child) {
  border-left: 1px solid black;
}

.nav__item a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
