.flex {
  width: 400px;
  border: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.item {
  width: 50%;
  height: 100px;
}

.orange {
  background-color: orange;
  /* height: 200px; */
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: mediumaquamarine;
  /* height: 50px; */
}

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}
